MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/connecther?retryWrites=true&w=majority
FIREBASE_PROJECT_ID=connecther-f8955
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour private key here\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=connecther-f8955.firebaseapp.com
NODE_ENV=development
GEOCODER_PROVIDER=google
GEOCODER_API_KEY=

# Firebase Storage Configuration
FIREBASE_STORAGE_BUCKET=your-project.appspot.com
